{% extends 'base.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead1 bg-publication text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <!-- 경로 넣어주기... 각 페이지에 맞게끔 -->
        <h1 class="masthead-heading1 text-uppercase mb-0">Domestic Conferences</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>
<section class="py-5 text-center container">
    {% if g.user %}
    <div class="btn-wrap mb-3 mg-top30px">
        <button class="button-19 add" role="button"><a href="{{url_for('pub.create_publication')}}">Add Publications</a></button>
    </div>
    {% endif %}

    <!--list group-->
    {% if g.user %}
    <!-- Publications list group -->
<div class="container">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                href="{{url_for('pub.PubInJournDef', _external=True)}}">International Journals</a></li>
        <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                href="{{url_for('pub.PubInConfDef', _external=True)}}">International Conferences</a></li>
        <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                href="{{url_for('pub.PubInPatenDef', _external=True)}}">International Patents</a></li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill" ><a
                href="{{url_for('pub.PubDomJournDef', _external=True)}}">Domestic Journals</a></li>
        <li
            class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill list-group-item-myself-bgcolor">
            <a href="{{url_for('pub.PubDomConfDef', _external=True)}}">Domestic Conferences</a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                href="{{url_for('pub.PubDomPatenDef', _external=True)}}">Domestic Patents</a></li>
    </ul>
</div>
    {% endif %}

    <div class="container mg-top30px">
        <h1 class="text-left border-bottom">Domestic Conferences</h1>
        <div class="table-box">
            <table class="table table-hover overflow-scroll align-middle table-responsive mytable">
                <thead>
                    <tr class="col-md">
                        <th>Date</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Read more</th>
                        {%if g.user %}
                        <th>Edit</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if publicationsList %}
                    {% for publication in publicationsList %}
                    {% if publication.category=="Domestic Conferences" %}
                    <tr>
                        <td>{{publication.date}}</td>
                        <td>{{publication.title}}</td>
                        <td>{{publication.author}}</td>
                        <td><a class="list-group-item align-items-center" href="{{publication.read_more}}">View</a></td>
                        {%if g.user %}
                        <td><a style="color:blue" href="{{url_for('pub.modify', pub_id=publication.id)}}" class="btn btn-sm">Edit</a></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock %}