{% extends 'base.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead1 bg-publication text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <!-- 경로 넣어주기... 각 페이지에 맞게끔 -->
        <h1 class="masthead-heading1 text-uppercase mb-0">International Patents</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>
<section class="py-5 text-center container">
    {% if g.user %}
    <div class="btn-wrap mb-3 mg-top30px">
        <button class="button-19 add" role="button"><a href="{{url_for('pub.create_publication')}}">Add Publications</a></button>
    </div>
    {% endif %}
    <!--list group-->
    {% if g.user %}
    <div class="container">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                    href="{{url_for('pub.PubInJournDef', _external=True)}}">International Journals</a></li>
            <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                    href="{{url_for('pub.PubInConfDef', _external=True)}}">International Conferences</a></li>
            <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill list-group-item-myself-bgcolor"><a
                    href="{{url_for('pub.PubInPatenDef', _external=True)}}">International Patents</a></li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill" ><a
                    href="{{url_for('pub.PubDomJournDef', _external=True)}}">Domestic Journals</a></li>
            <li
                class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill">
                <a href="{{url_for('pub.PubDomConfDef', _external=True)}}">Domestic Conferences</a>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-myself ul-li-width flex-fill"><a
                    href="{{url_for('pub.PubDomPatenDef', _external=True)}}">Domestic Patents</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="container mg-top30px">
        <h1 class="text-left border-bottom">International Patents</h1>
        <div class="row">
            {% if publicationsList %}
            {% for publication in publicationsList %}
            {% if publication.category == "International Patents" %}
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body text-start">
                        <h5 class="card-title">
                            <a href="{{ publication.read_more }}" class="text-decoration-none" style="color: black;">
                                {{ publication.title }}
                            </a>
                        </h5>
                        {%if g.user %}
                            <ul class="name-tag-list">
                                {% for name_tag in publication.name_tags %}
                                <li>{{name_tag.user_name}}</li>
                                {% endfor %}
                            </ul>
                        <p style="border-bottom:3px solid darkgray !important;"><a href="{{url_for('pub.view_nametag',pub_id=publication.id)}}">Edit Name Tags</a></p>
                        {% else %}

                            <ul class="name-tag-list">
                                {% for name_tag in publication.name_tags %}
                                <li>{{name_tag.user_name}}</li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                        <!-- author 컨퍼런스나 저널 이름 -->
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ publication.author }} | {{ publication.date }}
                        </h6>
                        {% if g.user %}
                        <a href="{{ url_for('pub.modify', pub_id=publication.id) }}" class="btn btn-secondary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
</section>

{% endblock %}