{% extends 'base.html' %}
{% block content %}
<header class="masthead1 bg-publication text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading1 text-uppercase mb-0">View NameTags</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>
<section>
    {% if g.user %}
    <div class="mb-3">
        <a href="{{url_for('pub.add_nametag', pub_id=publication.id)}}" class="btn btn-primary">Create Nametag</a>
    </div>
    {% endif %}
    <ul>
        {% for nametag in nametags %}
        <li><a href="{{url_for('pub.edit_nametag', pub_id=publication.id, nametag_id=nametag.id)}}">{{nametag.user_name}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}