{% extends 'base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary1 text-black text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Hyper Intelligent<br>
            Media Network<br>
            Platform Lab</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">School of Information Communication Engineering
            Chonnam National University</p>
    </div>
</header>

<div id="carouselControls" class="carousel slide" data-bs-carousel="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="30000">
            <!-- Contact Section-->
            <section class="page-section" id="contact">
                <div class="container">
                    <!-- Contact Section Heading-->
                    <h2 class="page-section-heading text-center text-secondary mb-0">Welcome to HI-IoP
                        Lab</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div class="card" style="width: 98%;">
                        <div class="card-body">
                            <h5 class="card-title">This is the main web page of SMMC Laboratory (Smart Mobile Media
                                Computing) at Chonnam
                                National
                                University, Gwangju, Republic of Korea.</h5>
                            <p class="card-text">
                                The field of study and research as the following:
                            </p>
                            <ul>
                                <li>
                                    Next Generation Mobile Computing & Networking
                                    <ul>
                                        <li>Clouding computing and networks, Next generation mobile platform, such
                                            as CDN,
                                            NFV, SDN, MEC, MTC, etc.</li>
                                    </ul>
                                </li>
                                <li>
                                    Broadcasting & Telecommunication Convergence Media
                                    <ul>
                                        <li>Smart media processing, Resource Management.</li>
                                        <li>QoS/QoE-aware Social TV, media controls/measurement/analysis.</li>
                                    </ul>
                                </li>
                                <li>
                                    Human-oriented IT convergence technologies
                                    <ul>
                                        <li>Smart work, Smart space, Smart factory (SCADA).</li>
                                        <li>Personal Mobility Devices (Drone, Wheelchair, Electric Kick Scooter).
                                        </li>
                                        <li>AI, Deep Learning.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>
                                Currently, SMMCLab looks for a couple of diligent and motivated students interested
                                in
                                researching
                                multimedia, networking, and personal mobility devices. Check out the Research tab
                                for past
                                and recent
                                works.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="carousel-item" data-bs-interval="30000">
            <!-- Portfolio Section-->
            <section class="page-section portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hyper
                        Intelligent Media
                        Network Platform(HI-IoP) Lab.</h2>
                    <p class="center">전남대학교 컴퓨터정보통신공학과 초지능 미디어 네트워크 플랫폼 연구실 방문을 환영합니다.</p>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Item 1-->
                        <h2 class="text-center text-uppercase">RESEARCHES</h2>

                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal1">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/MachineLearning.png" alt="..." />
                                <p class="text-center">Machine Learning</p>

                            </div>
                        </div>
                        <!-- Portfolio Item 2-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal2">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Robot.png" alt="..." />
                                <p class="text-center">Robot</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 3-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal3">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Network.png" alt="..." />
                                <p class="text-center">Network</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 4-->
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal4">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/CloudTechnology.png" alt="..." />
                                <p class="text-center">Cloud Technology</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 5-->
                        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal5">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/DataAnalyzing.png" alt="..." />
                                <p class="text-center">Data Analyzing</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 6-->
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal6">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Iot.png" alt="..." />
                                <p class="text-center">Iot</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="carousel-item" data-bs-interval="30000">
            <!-- About Section-->
            <section class="page-section bg-light text-white mb-0" id="about">
                <div class="container">
                    <!-- About Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary">Recent News</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div>
                        <table class="table">
                            <tr class="table-info">
                                <th>Date 2018</th>
                                <th>Lab News</th>
                            </tr>
                            <tr>
                                <td>2018.07.30 ~ 08.02</td>
                                <td>카이스트(KAIST, Daejeon, Republic of Korea)에서 주체한 Amazon Web Service와 MXNet
                                    SageMaker 교육을 Sang
                                    Woo Kim and Linh Van Ma등 참가.</td>
                            </tr>
                            <tr>
                                <td>2018.07.03 ~ 06</td>
                                <td>제10회 유비쿼터스 및 퓨처 네트워크 국제 컨퍼런스(ICUFN 2018, Prague, Czech)에 Van Quan Nguyen와 Linh
                                    Van Ma등 참가.
                                </td>
                            </tr>
                            <tr>
                                <td>2018.05.24 ~ 27</td>
                                <td>도시 재해에 대한 연구 발표(World IT Show 2018 (WIS2018), COEX A, B, C Hall, Seoul, Korea)
                                </td>
                            </tr>
                            <tr>
                                <td>2018.01.17 ~ 19</td>
                                <td>MSME Enterprises용 비지니스 솔루션 국제 컨퍼런스 참가(ICSMB 2018 (ICSMB 2018), Manila,
                                    Philippine)</td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr class="table-info">
                                <th>Date 2017</th>
                                <th>Lab News</th>
                            </tr>
                            <tr>
                                <td>2017.12.18 ~ 24&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>카이스트(KAIST, Daejeon, Republic of Korea)에서 주체한 Amazon Web Service와 MXNet
                                    SageMaker 교육을 Sang
                                    Woo Kim and Linh Van Ma등 참가.</td>
                            </tr>
                            <tr>
                                <td>2017.12.17 ~ 23</td>
                                <td>제10회 유비쿼터스 및 퓨처 네트워크 국제 컨퍼런스(ICUFN 2018, Prague, Czech)에 Van Quan Nguyen와 Linh
                                    Van Ma등 참가.
                                </td>
                            </tr>
                            <tr>
                                <td>2017.08.23 ~ 28</td>
                                <td>도시 재해에 대한 연구 발표(World IT Show 2018 (WIS2018), COEX A, B, C Hall, Seoul, Korea)
                                </td>
                            </tr>
                            <tr>
                                <td>2017.05.23 ~ 27</td>
                                <td>MSME Enterprises용 비지니스 솔루션 국제 컨퍼런스 참가(ICSMB 2018 (ICSMB 2018), Manila,
                                    Philippine)</td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr class="table-info">
                                <th>Date 2016</th>
                                <th>Lab News</th>
                            </tr>
                            <tr>
                                <td>2016.05.20 ~ 28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>카이스트(KAIST, Daejeon, Republic of Korea)에서 주체한 Amazon Web Service와 MXNet
                                    SageMaker 교육을 Sang
                                    Woo Kim and Linh Van Ma등 참가.</td>
                            </tr>
                            <tr>
                                <td>2016.02.17 ~ 24</td>
                                <td>제10회 유비쿼터스 및 퓨처 네트워크 국제 컨퍼런스(ICUFN 2018, Prague, Czech)에 Van Quan Nguyen와 Linh
                                    Van Ma등 참가.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon m-auto pe-5" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon m-auto ps-5" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>


</div>

<!-- <div class="button-box container">
        <button type="button" class="btn btn-light 버튼1 bbb">WELCOME</button>
        <button type="button" class="btn btn-light 버튼2 bbb">RESEARCHES</button>
        <button type="button" class="btn btn-light 버튼3 bbb">RECENT NEWS</button>
    </div> -->


<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/cabin.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/cake.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/circus.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/game.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/safe.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="../static/img/portfolio/submarine.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam
                                velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window.
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}