{% extends 'base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary1 text-black text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Hyper Intelligent<br>
            Media Network<br>
            Platform Lab</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">School of Information Communication Engineering
            Chonnam National University</p>
    </div>
</header>

<div id="carouselControls" class="carousel slide" data-bs-carousel="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="30000">
            <!-- Contact Section-->
            <section class="page-section" id="contact">
                <div class="container">
                    <!-- Contact Section Heading-->
                    <h2 class="page-section-heading text-center text-secondary mb-0">Welcome to HI-IoP
                        Lab</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div class="card" style="width: 98%;">
                        <div class="card-body">
                            <h5 class="card-title">This is the main web page of SMMC Laboratory (Smart Mobile Media
                                Computing) at Chonnam
                                National
                                University, Gwangju, Republic of Korea.</h5>
                            <p class="card-text">
                                The field of study and research as the following:
                            </p>
                            <ul>
                                <li>
                                    Next Generation Mobile Computing & Networking
                                    <ul>
                                        <li>Clouding computing and networks, Next generation mobile platform, such
                                            as CDN,
                                            NFV, SDN, MEC, MTC, etc.</li>
                                    </ul>
                                </li>
                                <li>
                                    Broadcasting & Telecommunication Convergence Media
                                    <ul>
                                        <li>Smart media processing, Resource Management.</li>
                                        <li>QoS/QoE-aware Social TV, media controls/measurement/analysis.</li>
                                    </ul>
                                </li>
                                <li>
                                    Human-oriented IT convergence technologies
                                    <ul>
                                        <li>Smart work, Smart space, Smart factory (SCADA).</li>
                                        <li>Personal Mobility Devices (Drone, Wheelchair, Electric Kick Scooter).
                                        </li>
                                        <li>AI, Deep Learning.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>
                                Currently, SMMCLab looks for a couple of diligent and motivated students interested
                                in
                                researching
                                multimedia, networking, and personal mobility devices. Check out the Research tab
                                for past
                                and recent
                                works.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="carousel-item" data-bs-interval="30000">
            <!-- Portfolio Section-->
            <section class="page-section portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hyper
                        Intelligent Media
                        Network Platform(HI-IoP) Lab.</h2>
                    <p class="center">전남대학교 컴퓨터정보통신공학과 초지능 미디어 네트워크 플랫폼 연구실 방문을 환영합니다.</p>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Item 1-->
                        <h2 class="text-center text-uppercase">RESEARCHES</h2>

                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal1">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/MachineLearning.png" alt="..." />
                                <p class="text-center">Machine Learning</p>

                            </div>
                        </div>
                        <!-- Portfolio Item 2-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal2">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Robot.png" alt="..." />
                                <p class="text-center">Robot</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 3-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal3">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Network.png" alt="..." />
                                <p class="text-center">Network</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 4-->
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal4">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/CloudTechnology.png" alt="..." />
                                <p class="text-center">Cloud Technology</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 5-->
                        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal5">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/DataAnalyzing.png" alt="..." />
                                <p class="text-center">Data Analyzing</p>
                            </div>
                        </div>
                        <!-- Portfolio Item 6-->
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                                data-bs-target="#portfolioModal6">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i
                                            class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/img/portfolio/Iot.png" alt="..." />
                                <p class="text-center">Iot</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="carousel-item" data-bs-interval="30000">
            <!-- About Section-->
            <section class="page-section bg-light text-white mb-0" id="about">
                <div class="container">
                    <!-- About Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary">Recent News</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>

                    <div>
                        {% for year in range(2023,2020,-1) %}
                        <table class="table">
                            <tr class="table-info">
                                <th>Date {{year}}</th>
                                <th>Lab News</th>
                            </tr>
                            {% for news in newsList %}
                            {% if news.activity_date[:4] == year|string %}
                            <tr>
                                <td>{{news.activity_date[:10]}}</td>
                                <td>{{news.content}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon m-auto pe-5" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon m-auto ps-5" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>


</div>

{% endblock %}