{% extends 'base.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead1 bg-primary2 text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading1 text-uppercase mb-0">Project</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>

<div class="btn-wrap">
    <button class="button-19" role="button"><a href="{{url_for('projects.create_project')}}">Add Projects</a></button>
</div>

<section class="py-5 text-center container">

    <!-- Recent Project -->
    <h2 class="pb-2 border-bottom text-left">Recent Project</h2>

    <div class="album py-5 bg-light text-left">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if projectsList %}
                {% for project in projectsList %}
                {% if project.period=="recent" %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="imgcontainer">
                            {% if project.folder and project.image_path %}
                            <img src="{{ url_for('static',filename='uploads/' +project.folder + '/'+ project.image_path)}}" alt="img" width="100%" height="225px">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                            {{project.title}}
                            </p>
                            <p class="card-text">
                                {{project.duration}}<br>
                                {{project.Agency}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Read
                                        more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <!--Past Project-->
    <h2 class="pb-2 border-bottom text-left mg-top30px">Past Project</h2>

    <div class="album py-5 bg-light text-left">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if projectsList %}
                {% for project in projectsList %}
                {% if project.period=="past" %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="imgcontainer">
                            {% if project.folder and project.image_path %}
                            <img src="{{ url_for('static',filename='uploads/' +project.folder + '/'+ project.image_path)}}" alt="img" width="100%" height="225px">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                            {{project.title}}
                            </p>
                            <p class="card-text">
                                {{project.duration}}<br>
                                {{project.Agency}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Read
                                        more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</section>

{% endblock %}