{% extends 'base.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead1 bg-news text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Heading-->
        <h1 class="masthead-heading1 text-uppercase mb-0">News</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>

<section class="py-5 text-center container d-inline">
    <div class="container">
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>View</th>
                </tr>
                {% if newsList %}
                {% for news in newsList %}
                <tr>

                    <td data-th="Date">
                        {{news.activity_date}}
                    </td>
                    <td data-th="LAB Activity">
                        {{news.activity}}
                    </td>

                    <td data-th="View">

                        <!-- Button trigger modal{{id}} -->
                        <button type="button" class="btn modal-btn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{news.id}}">
                            read more
                        </button>

                        <!--modal{{id}}-->
                        <div class="modal fade" id="exampleModal{{news.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel{{news.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel{{news.id}}">{{news.activity}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{news.content}}</p>
                                        <div class="row">
                                            <!-- img는 img만 담아둔 관계형 db 하나더 생성해서 for문으로 구성해주기!!-->
                                            {% if news.images %}
                                            {% for image in news.images %}
                                            <img src="{{image.image_path}}" alt="activity picture" class="img-fluid">
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                {% endfor %}
                {% endif %}
            </tbody>

        </table>
    </div>

    <button><a href="{{url_for('news.create_news')}}">hello</a></button>
</section>

{% endblock %}